*{
    margin: 0;
    padding: 0;
}

#m4-container{
    width: 900px;
    height: 400px;
    margin-top: 10%;
    margin-left: 15%;
    position: relative;
    transform-origin: bottom left;
}

#lower-receiver{
    background-color: rgb(26, 26, 26);
    width: 350px;
    height: 125px;
    position: absolute;
    left: 250px;
    top: 150px;
    border-radius: 0 12px 0 0;
}

#trigger-guard1{
    background-color: rgb(26, 26, 26);
    height: 20px;
    width: 80px;
    position: absolute;
    top: 111.5px;
    left: 152px;
    rotate: -10deg;
}

#trigger-guard2{
    background-color: rgb(26, 26, 26);
    height: 20px;
    width: 80px;
    position: absolute;
    top: 112px;
    left: 80px;
    rotate: 10deg;

}

#trigger-well{
    width: 85px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    top: 75px;
    left: 120px;
}

#trigger-well2{
    background-color: white;
    width: 55px;
    height: 20px;
    position: absolute;
    border-radius: 90%;
    left: 136px;
    top: 110px
}

#trigger-extra{
    background-color: rgb(26, 26, 26);
    height: 55px;
    width: 10px;
    position: absolute;
    left: 95px;
    top: 72px;
    z-index: 1;
}

#grip{
    height: 150px;
    width: 80px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 100px;
    left: -4px;
    rotate: 25deg;
    border-radius: 0 0 12px 6px;
}

#grip2{
    background-color: black;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 75px;
    left: 30px;
}

#white1{
    background-color: white;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 112px;
    left: 230px;
    rotate: -10deg;
}

#white2{
    background-color: white;
    height: 100px;
    width: 50px;
    position: absolute;
    border-radius: 20px;
    left: 340px;
    top: 20px
}

#white3{
    height: 120px;
    width: 30px;
    background-color: white;
    position: absolute;
    top: 126px;
    left: 69px;
    rotate: 25deg;
    border-radius: 0 0 0 12px;
}

#white4{
    height: 100px;
    width: 60px;
    background-color: white;
    position: absolute;
    rotate: 26deg;
    border-radius: 40px;
    top: 58px;
    left: -40px
}

#front-pin{
    width: 25px;
    height: 25px;
    background-color: rgb(26, 26, 26);
    position: absolute;
    left: 330px;
    top: 0px;
    border-radius: 100%;
    box-shadow: rgb(63, 63, 63) 5px 0 10px 0 inset, rgb(63, 63, 63) -5px 0 10px 0 inset;
}

#hump1{
    background-color: rgb(26, 26, 26);
    width: 150px;
    height: 20px;
    position: absolute;
    border-radius: 20px 0 0 20px;
    box-shadow: rgb(46, 46, 46) 10px 0 10px 0 inset;
    left: 185px;
    top: 2.5px;
    z-index: 1;
}

#hump2{
    /* background-color: rgb(26, 26, 26); */
    background-image: linear-gradient(to right, #1a1a1a, #222222, #2a2a2a, #333333, #3c3c3c, #3c3c3c, #3c3c3c, #3c3c3c, #333333, #2a2a2a, #222222, #1a1a1a);
    height: 80px;
    width: 20px;
    /* box-shadow: rgb(46, 46, 46) 0 -10px 10px 0 inset; */
    position: absolute;
    left: 215px;
    top: 22.5px;
    z-index: 0;
    border-radius: 0 0 12px 12px;
}

#hump3{
    width: 30px;
    height: 15px;
    background-image: linear-gradient(to top, #1a1a1a, #222222, #2a2a2a, #333333, #3c3c3c, #3c3c3c, #3c3c3c, #3c3c3c, #333333, #2a2a2a, #222222, #1a1a1a);
    /* background-color: rgb(26, 26, 26); */
    /* box-shadow: rgb(46, 46, 46) 5px 0 10px 0 inset; */
    position: absolute;
    top: 56px;
    left: 185px;
    border-radius: 12px 0 0 12px;
}

/* #hump-cover{
    background-color: rgb(29, 29, 29);
    width: 12px;
    height: 25px;
    position: absolute;
    left: 219px;
    top: 15px;
    border-radius: 12px;
    z-index: 3;
}*/

#hump-cover2{
    width: 15px;
    height: 7px;
    background-color: #3c3c3c;
    position: absolute;
    left: 210px;
    top: 60px;
    z-index: 1;
    border-radius: 12px;;
} 

#mag-release{
    width: 15px;
    height: 25px;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    position: absolute;
    left: 194px;
    top: 27px;
}

#mag-screw{
    width: 7px;
    height: 7px;
    background-color: rgb(71, 71, 71);
    border-radius: 10px;
    position: absolute;
    top: 9px;
    left: 3.5px;
}

#back-body{
    background-color: rgb(26, 26, 26);
    width: 175px;
    height: 70px;
    position: absolute;
    top: -70px;
}

#over-port{
    width: 180px;
    height: 25px;
    background-color: rgb(26, 26, 26);
    position: absolute;
    top: -70px;
    left: 170px;
    z-index: -2;
}

#right-port{
    height: 80px;
    width: 25px;
    background-color: rgb(26, 26, 26);
    position: absolute;
    left: 325px;
    top: -70px;
    z-index: -1;
}

#port-cover{
    width: 170px;
    height: 50px;
    background-color: rgb(18, 18, 18);
    position: absolute;
    left: 165px;
    top: -10px;
    border-radius: 20px 20px 0 0;
    rotate: 180deg;
    z-index: 3;
}

#port-cover2{
    width: 60px;
    height: 35px;
    background-color: rgb(3, 3, 3);
    border-radius: 12px 12px 0 0;
    position: absolute;
    top: 8px;
    left: 10px;
    box-shadow: rgb(26, 26, 26) 0px 5px 5px 0 inset;
}

#port-cover3{
    width: 60px;
    height: 35px;
    background-color: rgb(3, 3, 3);
    border-radius: 12px 12px 0 0;
    position: absolute;
    top: 8px;
    left: 100px;
    box-shadow: rgb(26, 26, 26) 0px 5px 5px 0 inset;
}

#port-cover4{
   height: 30px;
   width: 25px;
   background-color: rgb(3, 3, 3); 
    position: absolute;
    left: 73px;
    top: 13px;
    box-shadow: rgb(36, 36, 36) 0px -5px 10px 0 inset;
    border-radius: 0 0 5px 5px;
}

#port-cover5{
    width: 180px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 45px;
    left: -5px;
    border-radius: 10px;
}

#port-corner-right{
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-right: 15px solid rgb(26, 26, 26);
    border-radius: 100%;
    position: absolute;
    left: 284px;
    top: -50px;
    rotate: -45deg;
    z-index: -2;
}

#port-corner-left{
    background-color: transparent;
    width: 40px;
    height: 40px; 
    border-right: 15px solid rgb(26, 26, 26);
    border-radius: 100%;
    position: absolute;
    top: -50px;
    left: 162px;
    rotate: -135deg;
    z-index: -2;
}

#pyramid-thing{
    border-right: 30px solid rgb(26, 26, 26);
    border-left: 10px solid rgb(26, 26, 26);
    border-top: 15px solid rgb(53, 53, 53);;
    border-bottom: 15px solid rgb(36, 36, 36);
    position: absolute;
    border-radius: 6px;
    height: 20px;
    top: -63px;
    left: 135px;
    box-shadow: rgba(41, 41, 41, 0.651) -5px -5px 5px 0px;
    z-index: 3;
}

#bolt-bulge{
    height: 50px;
    width: 175px;
    background-image: linear-gradient(to top, #1a1a1a, #222222, #2a2a2a, #333333, #3c3c3c, #3c3c3c, #3c3c3c, #3c3c3c, #333333, #2a2a2a, #222222, #1a1a1a);
    position: absolute;
    top: -45px;
    left: 0px;
    border-top: 1px solid rgb(32, 32, 32);
    border-bottom: 1px solid rgb(32, 32, 32);
    /* box-shadow:rgb(56, 56, 56) 0px 5px 10px 0 inset, rgb(56, 56, 56) 0px -5px 10px 0 inset, rgb(26, 26, 26) 5px 0 5px 0 inset; */
}

#barrel{
    height: 35px;
    width: 600px;
    /* background-color: rgb(20, 20, 20); */
    background-image: linear-gradient(to top, #1a1a1a, #212121, #282828, #2f2f2f, #373737, #373737, #373737, #373737, #2f2f2f, #282828, #212121, #1a1a1a);
    position: absolute;
    left: 600px;
    top: 110px;
    z-index: -2;
}

#barrel-connect{
    height: 70px;
    width: 50px;
    background-image: linear-gradient(to top, #1a1a1a, #222222, #2a2a2a, #333333, #3c3c3c, #3c3c3c, #3c3c3c, #3c3c3c, #333333, #2a2a2a, #222222, #1a1a1a);
    position: absolute;
    top: -18px;
    left: -25px;
    z-index: -1;
}

#barrel-lump{
    height: 45px;
    width: 150px;
    /* background-color: rgb(26, 26, 26); */
    background-image: linear-gradient(to top, #1a1a1a, #212121, #282828, #2f2f2f, #373737, #373737, #373737, #373737, #2f2f2f, #282828, #212121, #1a1a1a);
    position: absolute;
    top: -5px;
    left: 350px;
    border-radius: 5px;
}

#flash-hider{
    height: 45px;
    width: 120px;
    /* background-color: rgb(26, 26, 26); */
    background-image: linear-gradient(to top, #343434, #2f2f2f, #2a2a2a, #252525, #202020, #202020, #202020, #202020, #252525, #2a2a2a, #2f2f2f, #343434);
    position: absolute;
    left: 600px;
    top: -5px;
    border-radius: 5px 0 0 5px;
}

#flash-port1{
    width: 60px;
    height: 10px;
    background-color: white;
    position: absolute;
    left: 45px;
    top: 7px;
    border-radius: 40%;
}

#flash-port2{
    width: 60px;
    height: 10px;
    background-color: white;
    position: absolute;
    left: 45px;
    top: 28px;
    border-radius: 40%; 
}

#flash-divot1{
    width: 5px;
    height: 45px;
    background-color: black;
    position: absolute;
    left: 25px;
    box-shadow: rgb(83, 83, 83) 1px 0 5px 0 inset;
}
#flash-divot2{
    width: 5px;
    height: 45px;
    background-color: black;
    position: absolute;
    left: 15px;
    box-shadow: rgb(83, 83, 83) 1px 0 5px 0 inset;
}

#stock-connect{
    height: 85px;
    width: 15px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-radius: 0 10px 10px 0;
    top: -55px;
    z-index: 1;
    box-shadow: rgb(46, 46, 46) 0px 8px 8px 0 inset, rgb(46, 46, 46) 0px -5px 5px 0 inset;
}

#connect-extra1{
   background-color: rgb(65, 65, 65);
   width: 10px;
   height: 60px;
   position: absolute;
   left: 15px;
   top: 5px;
   border-radius: 0 10px 10px 0;
   box-shadow: rgb(20, 20, 20) 5px 0 5px 0 inset;

}

#stock-connect2{
    width: 5px;
    height: 115px;
    background-color: black;
    position: absolute;
    left: -5px;
    top: -55px;
    border-radius: 5px 0 0 5px;
    box-shadow: rgb(65, 65, 65) 3px 0 5px 0 inset;
}

#stock-connect3{
    width: 35px;
    height: 80px;
    background-color: rgb(26, 26, 26);
    position: absolute;
    left: -40px;
    top: -52px;
    border-radius: 5px 0 0 5px;
}

#ring-divot1{
    background-color: transparent;
    border-top: 5px solid rgb(12, 12, 12);
    border-bottom: 5px solid rgb(68, 68, 68);
    border-left: 5px solid rgb(26, 26, 26) ;
    width: 10px;
    border-radius: 0 100% 100% 0;
    position: absolute;
    top: 10px
}

#ring-divot2{
    background-color: transparent;
    border-top: 5px solid rgb(12, 12, 12);
    border-bottom: 5px solid rgb(68, 68, 68);
    border-left: 5px solid rgb(26, 26, 26) ;
    width: 10px;
    border-radius: 0 100% 100% 0;
    position: absolute;
    top: 60px
}

#buffer-tube{
    height: 70px;
    width: 400px;
    /* background-color: #202020; */
    background-image: linear-gradient(to top, #1a1a1a, #212121, #282828, #2f2f2f, #373737, #373737, #373737, #373737, #2f2f2f, #282828, #212121, #1a1a1a);
    position: absolute;
    left: -430px;
    top: -46.5px
}

#buffer-trap{
    border-top: 30px solid #202020;
    border-right: 25px solid transparent;
    border-bottom: none;
    width: 200px;
    position: absolute;
    left: -320px;
    top: 20px
}

#stock-main{
    width: 380px;
    height: 300px;
    background-color: black;
    position: absolute;
    left: -520px;
    top: -63px;
    box-shadow: #343434 0px 30px 30px 0 inset, #414040 20px -5px 20px 0 inset; 
    border-radius: 10px 20px 0 70px;
}

#stock-cover1{
    width: 70px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 135px;
    left: 315px;
}

#stock-cover2{
    width: 200px;
    height: 150px;
    background-color: white;
    position: absolute;
    top: 185px;
    left: 155px
}

#stock-cover3{
    width: 200px; 
    height: 150px;
    background-color: white;
    position: absolute;
    rotate: -40deg;
    top: 232px;
    left: 26px
}

#stock-cover4{
    height: 400px;
    width: 100px;
    background-color: white;
    position: absolute;
    rotate: -5deg;
    left: -80px;
}

#stock-cover5{
    width: 400px;
    border-top: 25px solid white;
    border-left: 80px solid transparent;
    position: absolute;
    top: -15px;
    left: -35px
}

#stock-cover6{
    height: 20px;
    width: 100px;
    background-color: white;
    position: absolute;
    top: 130px;
    left: 40px;
    border-radius: 20px;
}

#stock-lever1{
    height: 50px;
    width: 130px;
    background-color: #0f0f0f;
    position: absolute;
    left: 185px;
    top: 150px;
    border-radius: 0 20px 0 0;
}

#stock-lever2{
    height: 50px;
    width: 110px;
    background-color: #0f0f0f;
    position: absolute;
    left: -88px;
    transform: skew(-20deg);
    rotate: -40deg;
    top: 35px;
    border-radius: 5px 0 0 5px;
}

#lever-bolt{
    width: 20px;
    height: 10px;
    background-color: black;
    position: absolute;
    left: 60px;
    top: 50px;
    border-radius: 0 0 5px 5px;
}

#stock-dimple-cont{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 20px;
    top: 65px;
    width: 340px;
    justify-content: space-evenly;
    height: 60px
}

#stock-dimple-cont div{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.76) 0 5px 5px 0 inset;
}

#stock-dimple1{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f;
}
#stock-dimple2{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f;  
}
#stock-dimple3{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f; 
}
#stock-dimple4{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f; 
}
#stock-dimple5{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f;
}
#stock-dimple6{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f; 
}
#stock-dimple7{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f; 
}
#stock-dimple8{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f;
}
#stock-dimple9{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f;
}
#stock-dimple10{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f;
}
#stock-dimple11{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f;
}
#stock-dimple12{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f;
}
#stock-dimple13{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f;
}
#stock-dimple14{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f;
}
#stock-dimple15{
    height: 15px;
    width: 60px;
    background-color: #0f0f0f;
}

#stock-cover9{
    border-top: 75px solid rgb(5, 5, 5);
    border-right: 80px solid transparent;
    position: absolute;
    left: 40px;
    top: 190px;
}

#handguard{
    height: 150px;
    width: 400px;
    background-image: linear-gradient(to bottom, #000000, #090909, #111111, #161616, #1b1b1b, #1b1b1b, #1b1b1b, #1b1b1b, #161616, #111111, #090909, #000000);
    position: absolute;
    left: 375px;
    top: -90px;
    border-radius: 20px 20% 20% 20px;
}

#handguard-cover1{
    width: 400;
    height: 50px;
    background-color: white;
    position: relative;
    bottom: 45px;
    rotate: 1deg;
}

#handguard-cover2{
    width: 400px;
    height: 50px;
    background-color: white;
    position: relative;
    top: 95px;
    left: 10px;
    rotate: -1deg;
    z-index: 2;
}

#rib-cont{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 400px;
    justify-content: space-evenly;
    top: 00px
}

#rib-cont div{
    width: 10px;
    height: 150px;
    background-image: linear-gradient(to right, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #202020, #202020, #202020, #1a1a1a, #141414, #0b0b0b, #000000);

}

#main-rib{
    height: 20px;
    background-image: linear-gradient(to top, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #202020, #202020, #202020, #1a1a1a, #141414, #0b0b0b, #000000);
    width: 400px;
    position: absolute;
    top: 59px;
}

#front-sight-cont{
    background-color: rgb(26, 26, 26);
    width: 120px;
    height: 160px;
    position: absolute;
    left: 790px;
    top: -133px;
    border-radius: 0 20px 10px 10px;
    box-shadow: rgb(36, 36, 36) 10px 0 10px 0 inset, rgb(36, 36, 36) -10px 0 10px 0 inset;
}

#front-sight-cover1{
    border-top: 100px solid white;
    border-right: 120px solid transparent;
    position: absolute;
    left: 0px;
    top: -20px;
}

#front-sight-cover2{
    width: 75px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 35px;
    border-radius: 20px 0 10px 20px;
}

#front-sight-cover3{
    height: 35px;
    width: 35px;
    background-color: white;
    position: absolute;
    left: 75px;
    top: 25px;
    border-radius: 10px 10px 0 0;
}

#front-sight-cover4{
    border-bottom: 40px solid white;
    border-left: 40px solid transparent;
    position: absolute;
    top: 25px;
    left: 40px;
    rotate: 2deg;
}

#front-sight-cover5{
    width: 85px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 130px;
    left: 20px;
    border-radius: 10px;
}

#front-sight-cover6{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 145px;
    left: 6px;
}

#top-rail{
    width: 330px;
    height: 20px;
    background-color: rgb(26, 26, 26);
    position: absolute;
    top: -90px;
    left: 20px;
}

#rail-indent{
    border-bottom: 8px solid rgb(31, 30, 30);
    border-top: 10px solid rgb(48, 47, 47);
    border-left: 10px solid transparent;
    border-right: 5px solid transparent;
    width: 300px;
    position: absolute;
    left: 10px
}

#indent-cont{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 15px;
    justify-content: space-evenly;
    position: absolute;
    top: -5px;
    left: 20px
}

#indent-cont div{
    width: 10px;
    height: 10px;
    background-color: white;
}

#top-left-corner-cover{
    background-color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -86px;
    left: -10px
}

#charging-handle{
    background-color: #090909;
    width: 35px;
    height: 15px;
    position: absolute;
    top: -75px;
    z-index: 3;
    border-radius: 0 10px 10px 0;
    left: 15px
}

#charging-handle-grip{
    height: 25px;
    width: 30px;
    background-image: linear-gradient(to left, #000000, #0f0f0f, #181818, #202020, #292929);
    border-radius: 5px 10px 5px 5px;
    position: absolute;
    left: -15px;
    top: -8px
}

#eotech{
    width: 200px;
    height: 50px;
    background-color: #0f0f0f;
    position: absolute;
    top: -125px;
    left: 70px;
    border-radius: 0 30px 0 10px;
}

#eotech-upper{
    width: 100px;
    height: 80px;
    background-color: #0f0f0f;
    position: absolute;
    top: -60px;
    box-shadow: rgb(46, 46, 46) 0px 15px 15px 0 inset;
    border-radius: 20px 40px 0 0;
    z-index: -1;
}

#eotech-angle-cover{
    background-color: white;
    width: 50px;
    height: 100px;
    position: absolute;
    left: 85px;
    top: -105px;
    rotate: -15deg;
}

#eotech-screw1{
    width: 40px;
    height: 40px;
    background-color: #181818;
    border-radius: 100%;
    position: absolute;
    top: -15px;
    left: 10px;
    box-shadow: rgb(32, 32, 32) 5px 5px 5px 0 inset, rgb(32, 32, 32) -5px -5px 5px 0 inset;
}

#eotech-screw2{
    width: 40px;
    height: 40px;
    background-color: #181818;
    border-radius: 100%;
    position: absolute;
    left: 60px;
    box-shadow: rgb(32, 32, 32) 5px 5px 5px 0 inset, rgb(32, 32, 32) -5px -5px 5px 0 inset;
}

#screw1-inside{
    width: 15px;
    height: 15px;
    background: #272727;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#screw2-inside{
    width: 15px;
    height: 15px;
    background: #272727;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.screw-indent-2{
    background-color: black;
    width: 16px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#trigger{
    height: 45px;
    width: 30px;
    background-color: rgb(26, 26, 26);
    position: absolute;
    top: 70px;
    left: 140px;
    border-radius: 0 0 10px 20px;
}

#trigger-cover{
    width: 20px;
    height: 40px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    position: absolute;
    left: 16px;
    top: 5px
}

#bolt-backside{
    background-color: #0b0b0b;
    width: 200px;
    height: 70px;
    z-index: -4;
    position: absolute;
    left: 130px;
    top: -70px
}

#bolt{
    height: 50px;
    width: 200px;
    background-image: linear-gradient(to bottom, #515151, #595959, #626162, #6a6a6a, #737273, #737272, #727172, #727171, #686868, #5f5e5e, #555555, #4c4c4c);
    position: absolute;
    left: 130px;
    top: -50px;
    z-index: -3;
}

#bolt-indent{
    width: 70px;
    height: 45px;
    box-shadow: rgb(46, 46, 46) 10px 0 10px 0 inset, rgb(46, 46, 46) -10px 0 10px 0 inset;
    border-radius: 20px;
    position: absolute;
    left: 90px;
    top: 0px;
    background-color: #444444;
}

#bolt-hole1{
    width: 7px;
    height: 7px;
    background-color: rgb(14, 13, 13);
    border-radius: 100%;
    position: absolute;
    left: 122px;
    top: 10px
}

#bolt-hole2{
    width: 7px;
    height: 7px;
    background-color: rgb(14, 14, 14);
    border-radius: 100%;
    position: absolute;
    left: 122px;
    top: 27px;
}

.casing{
    position: absolute;
    top: -40px;
    left: 185px;
    opacity: 0%;
    transform-origin: center;
    height: 30px;
    width: 75px;
    z-index: 4;
}

#primer{
    width: 5px;
    height: 30px;
    background-image: linear-gradient(to bottom, #c0911b, #ddae25, #dfb72a, #e1c130, #e3ca36, #e3ca36, #e3ca36, #e3ca36, #e1c130, #dfb72a, #ddae25, #af851b);
    border-radius: 3px;
}


#casing-body{
    width: 70px;
    height: 30px;
    /* background-color: goldenrod; */
    background-image: linear-gradient(to bottom, #daa520, #ddae25, #dfb72a, #e1c130, #e3ca36, #e3ca36, #e3ca36, #e3ca36, #e1c130, #dfb72a, #ddae25, #daa520);
    position: absolute;
    top: 0;
    left: 5px;
    border-radius: 5px 0 0 5px;
}

#magazine{
    height: 70px;
    width: 110px;
    background-color: gray;
    position: absolute;
    left: 477px;
    top: 275px;
    z-index: 1;
    border-radius: 0 0 5px 5px;
}

#magazine-extra1{
    border-bottom: 20px solid gray;
    border-left: 110px solid transparent;
    height: 10px;
    position: absolute;
    top: -30px;
    left: 0px;
    z-index: 3;
}

#magazine-extra2{
    width: 120px;
    height: 5px;
    background-image: linear-gradient(to top, #1a1a1a, #222222, #2a2a2a, #333333, #3c3c3c, #3c3c3c, #3c3c3c, #3c3c3c, #333333, #2a2a2a, #222222, #1a1a1a);
    position: absolute;
    border-radius: 10px;
    rotate: -10deg;
    top: -13px;
    left: -5px;
    z-index: 4;
}

#magazine-dimple1{
    height: 75px;
    width: 15px;
    background-image: linear-gradient(to right, #555555, #4f4f4f, #494949, #444444, #3e3e3e, #3e3e3e, #3e3e3e, #3e3e3e, #444444, #494949, #4f4f4f, #555555);
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: -5px;
    left: 12px;
    z-index: 3;
}

#magazine-dimple2{
    height: 80px;
    width: 15px;
    background-image: linear-gradient(to right, #555555, #4f4f4f, #494949, #444444, #3e3e3e, #3e3e3e, #3e3e3e, #3e3e3e, #444444, #494949, #4f4f4f, #555555);
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: -10px;
    left: 42px;
    z-index: 3; 
}

#magazine-dimple3{
    height: 85px;
    width: 18px;
    background-image: linear-gradient(to right, #555555, #4f4f4f, #494949, #444444, #3e3e3e, #3e3e3e, #3e3e3e, #3e3e3e, #444444, #494949, #4f4f4f, #555555);
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: -15px;
    left: 75px;
    z-index: 3; 
}

#muzzle-flash{
    width: 250px;
    height: 200px;
    background-size: cover;
    position: absolute;
    left: 700px;
    top: -55px;
    opacity: 0%;
}
button{
    z-index: 6;
}

#fire-btn{
    position: relative;
    left: 55vw;
    top: 70vh;
    background-color: red;
    width: 200px;
    height: 50px;
    font-size: 30px;
    color: white;
}

#auto-btn{
    position: relative;
    top: 70vh;
    left: 30vw;
    background-color: red;
    width: 200px;
    height: 50px;
    font-size: 30px;
    color: white; 
}

#fire-btn:hover{
    cursor: pointer;
}

#auto-btn:hover{
    cursor: pointer;
}

.casing-animate{
    animation: casing 1s;
}

.bolt-animate{
    animation: bolt .1s
}

.recoil-animate{
    animation: recoil .1s;
}

.flash-animate{
    animation: flash .05s
}

.trigger-animate{
    animation: trigger .1s
}

@keyframes casing{
    0%{
        opacity: 100%;
        top: -40px;
        left: 185px;
    }
    20%{
        top: 0px;
        left: 50px;
    }
    40%{
        top: 200px;
        left: -75px;
    }
    60%{
        top: 300px;
        left: -150px
    }
    80%{
        top: 400px;
        left: -200px;
    }
    100%{
        opacity: 0%;
        top: 500px;
        left: -200px;
        rotate: -1280deg;
    }
}

@keyframes bolt{
    0%{left: 130px;}
    50%{left: -10px;}
    100%{left: 130px;}
}

@keyframes recoil{
    0%{rotate: 0deg}
    50%{rotate: -3deg}
    100%{rotate: 0deg}
}
@keyframes flash{
    0%{opacity: 0%}
    50%{opacity: 100%;}
    100%{opacity: 0%}
}

@keyframes trigger{
    0%{rotate: 0deg}
    50%{rotate: 30deg}
    100%{rotate: 0deg}
}
